crypto/test/resources/jPascalcoin-test.properties

api/\.classpath

api/\.project

api/\.settings/org\.eclipse\.m2e\.core\.prefs

\.settings/org\.eclipse\.m2e\.core\.prefs

*.prefs

\.project

*.properties

crypto/\.classpath

crypto/\.settings/org\.eclipse\.wst\.common\.project\.facet\.core\.xml
